{
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "trailingComma": "all",
    "printWidth": 80,
    "useTabs": true,
    "endOfLine": "auto"
}
